1º Lenguajes de Marcas/Unidad 7 - DTD y XSD/Ejercicios XSD/Solución ejercicios XSD 1/3.elem.atrib.vacio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="persona">
    <xs:complexType>
              <xs:attribute name="dni" type="xs:string"/>
              <xs:attribute name="nombre" type="xs:string"/>
      </xs:complexType>
    </xs:element>  
</xs:schema>
